@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.imgBackground {
    height: 240px;
    border-radius: 50%;
    background-image: url('./fotoCV.png');
    width: 40%;
    background-position: 84% 25%;
}

.textHowAmI {
    text-align: center;
    margin-bottom: 60px;
}

.links {
    text-decoration: none;
    color: inherit;
}

.colunaInfos {
    height: 240px;
}

.titlesPersonalInfos {
    font-family: 'Poppins', sans-serif;
}

.fontTextPersonalInfos {
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
}

@media (max-width: 992px) {
    .colunaInfos {
        height: 640px;
    }
}

/* Início CSS Timeline */

.timeLineBody {
    margin-top: 150px;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle1 {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle2 {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle3 {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle4 {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
.timeline-steps .timeline-content .inner-circle1:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
.timeline-steps .timeline-content .inner-circle2:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
.timeline-steps .timeline-content .inner-circle3:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}
.timeline-steps .timeline-content .inner-circle4:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

/* Fim CSS Timeline */

/* Início CSS Tecnologias */

.tecnologiesMainContainer{
    margin-top: 150px;
    margin-bottom: 100px;
}

.titleTecnologies {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.textTecnologiesNames {
    font-family: 'Poppins', sans-serif;
}

.mainContainerTecnologiesNames {
    padding-top: 80px;
}
/* Fim CSS Tecnologias */

/*Início CSS Projetos */

.textProjetos {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    text-decoration: none;
    outline: 0;
    color: black
}

.contentProjetos {
    margin-top: 50px;
    margin-bottom: 50px;
}